* {
    /* RESET */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #999999;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
}

#topo {
    position: fixed;
    left: 10px;
    bottom: 10px;
    color: #333;
    font-size: 2rem;
    transform: rotate(90deg);
}

#go-top {
    opacity: 0;
    transition: opacity .6s;
}
#loading {
    display: none;
    width: 80px;
    height: 80px;
    position: fixed;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    z-index: 100;
}
/*************** MOBILE ***************/

/* HEADER */

#link-ligue {
    /* margin-left: 50px; */
    font-size: 1rem;
    text-decoration: none;
    color: #333;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 0;
}

/* LOGOTIPO */

header img {
    width: 180px;
    margin-top: 5px;
    font-family: sans-serif;
}


/************************ NAV ************************/
#btn-menu {
    position: fixed;
    left: 10px;
    top: calc( 50% - (50px / 2));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    color: white;
    background-color: #eabe32;
    border-radius: 3px;
    z-index: 1;
}

#btn-menu i {
    font-size: 1.2rem;
}

#btn-menu span {
    font-size: .8rem;
}

#layer-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #eabe32;
    opacity: 0;
    transition: opacity .75s, left .2s;
    z-index: 2;
}

nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100%;
    background-color: #eabe32;
    padding: 20px;
    opacity: 1;
    transition: left .2s;

    z-index: 3;
}

nav div#links {
    display: flex;
    flex-direction: column;
    /* height: 50%; */
    /* border: 1px solid red; */
}

nav div#links a {
    margin-top: 20px;
}

nav label {
    align-self: flex-end;
    color: white;
    font-size: 3rem;
    /* border: 1px solid white; */
}

nav div a {
    text-decoration: none;
    color: white;
    width: 100%;
    font-size: 1.5rem;
}

nav div#menu-social {
    width: 80%;
    display: flex;
    justify-content: space-between;
}
/* nav div#menu-social a {
    color: #333;
} */

#abrir-menu {
    display: none;
}

#abrir-menu:checked~nav {
    left: 0; 
}

#abrir-menu:checked~#layer-menu {
    left: 0;
    opacity: .7;
}

/************************ MAIN ************************/

main {
    padding: 20px 0px;
    /* margin-top: 20px; */
}

/* BANNER */

main section#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section#banner img {
    width: 90%;
}

/* DÚVIDAS CONTATO */

main article#duvidas {
    position: fixed;
    bottom: 5px;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    /* border: 1px solid black; */
}

/* botoes contato */
main article#duvidas img {
    width: 45px;
    height: 45px;
}

main article#duvidas figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #eabe32;
    background-color: white;
}

main article#duvidas i {
    font-size: 0.9rem;
    color: #eabe32;
}


/* ********************* GLERIA ********************* */
main section#galeria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;

}

main section#galeria ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main section#galeria li {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    /* border: 1px solid red; */
}
main section#galeria li img {
    width: 90%;
    
    cursor: pointer;
}

main section#galeria a {
    display: inline-block;
    width: 90%;
    max-width: 270px;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: #eabe32;
    border: 1px solid #eabe32;
    border-radius: 8px;
}

main article#modal {
    position: fixed;
    top: 0;
    left: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: 0;
    z-index: 10;

    transition: left 0.4s, opacity 1s;
}

main article#modal span {
    position: absolute;
    top:5px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
}

main article#modal figure {
    width: 80%;
}

main article#modal figure img {
    width: 100%;
}
/* **************** SLIDE SHOW ******************* */

/* main section#trabalhos, main section#depoimentos {
    background-color: #e9e9e9;
    color: #333;
    padding: 10px;
}

main section#trabalhos, h2 {
    color: #333;
} */

main section .carousel {
    padding: 15px 0 0 0;
    width: 80%;
    margin: 0 auto;
}

main section .carousel img {
    width: 90%;
    height: 100%;
    padding: 0 5px;
    margin: 0 auto;
}

.viewer-toolbar>ul>li:before {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main section#trabalhos .slick-slide {
    display: flex!important;
    justify-content: center;
} */

main section#realizados .slick-dots li button:before {
    opacity: 0.15;
    color: #333;
    font-size: 8px;
}

main section#realizados .slick-dots li.slick-active button:before {
    color: #eabe32;
    opacity: 0.85;
    font-size: 8px;
}

.slick-prev:before, .slick-next:before {
    font-size: 25px;
    opacity: 1;
    color: #eabe32;
}

/* main section#trabalhos a#galeria, main section#trabalhos a#grafiteorcamento {
    display: inline-block;
    margin-top: 10px;
    padding: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    background-color: cyan;
    color: #595958;
    border-radius: 8px;
} */

/* main section#trabalhos a#grafites {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    padding: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: #595958;
    border-radius: 8px;
    border: cyan 1px solid
} */

/* main section#trabalhos {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* main section#trabalhos h2, main section#depoimentos h2 {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 20px;
} */

/* main section#trabalhos p, main section#depoimentos p {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 20px;
} */

/* main section#trabalhos p, main section#depoimentos p:nth-child(2) {
    color: blue
}

main section#trabalhos, main section#depoimentos .slick-dots li button:before {
    opacity: 0.15;
    color: black;
    font-size: 8px;
}

main section#trabalhos, main section#depoimentos .slick-dots li.slick-active button:before {
    color: cyan;
    opacity: 0.85;
    font-size: 8px;
} */














main section#banner .btn-link, main section#grafiteiro .btn-link {
    display: inline-block;
    /* width: 100%; */
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    background-color: #eabe32;
    color: #fff;
    border-radius: 8px;
}

/* GRAFITEIRO */

main section#grafiteiro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

main section#grafiteiro h1 {
    font-size: 2rem;
    text-align: center;
}

main section#grafiteiro p {
    width: 85%;
    margin-top: 10px;
    padding: 0 10px;
    text-align: center;
    font-size: 1rem;
    line-height: 1.2rem;
}

main section#grafiteiro p span {
    display: block;
    color: #eabe32;
}

/* GRAFITEIRO FAZ */

main section#grafiteiro #grafiteirofaz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    /* width: 100vw; */
    width: 100%;
    margin-top: 20px;
    background-color: #eabe32;
}

main section#grafiteiro #grafiteirofaz h2 {
    display: flex;
    flex-direction: column;
    color: #808080;
    font-size: 1.3rem;
    line-height: 30px;
    text-align: center;
}

main section#grafiteiro #grafiteirofaz h2 span {
    color: #fff;
}

main section#grafiteiro #grafiteirofaz p {
    width: 85%;
    margin-top: 20px;
    color: #fff;
}

article#artegrafite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

article#artegrafite img {
    width: 80%;
}

/* TRABALHOS REALIZADOS */

section#realizados, section#avaliacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#realizados h3, section#avaliacoes h3, section#galeria h3 {
    text-align: center;
    margin-top: 40px;
    font-size: 1.8rem;
}

section#realizados h3 span, section#avaliacoes h3 span, section#galeria h3 span {
    display: block;
    color: #eabe32;
}





/* TEXTOS INFORMATIVOS */

section.informativo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

section.informativo h2 {
    font-size: 1.8rem;
}

section.informativo span {
    color: #eabe32;
    display: block;
}

section.informativo p {
    width: 85%;
    margin-top: 20px;
    font-size: 1rem;
    line-height: 1.5rem;
}

section.informativo h3 {
    align-self: flex-start;
    width: 60%;
    margin-top: 20px;
    margin-left: 35px;
    font-size: 1rem;
    font-weight: normal;
    text-align: left;
    text-transform: none;
    /* border: 1px solid red; */
}

section.informativo ul {
    align-self: flex-start;
    margin-top: 20px;
    margin-left: 35px;
    /* border: 1px solid red; */
}

section.informativo ul li {
    width: 85%;
    margin-left: 35px;
    font-size: 1rem;
    line-height: 1.5rem;
}

/* ***********ORÇAMENTO*************** */

main section#orcamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

main section#orcamento h2 {
    font-size: 1rem;
    text-transform: none !important;
}

main section#orcamento p {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 0.9rem;
    width: 50%;
}

main section#orcamento img {
    width: 45px;
    height: 45px;
    margin-top: 20px;
}

main section#orcamento figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top: 20px;
    border: 2px solid #eabe32;
}

main section#orcamento i {
    font-size: 0.9rem;
    color: #eabe32;
}

main section#orcamento form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 15px;
    margin-top: 20px;
    /* background-color: #eabe32; */
    border-radius: 8px;
}

main section#orcamento form h2 {
    margin: 20px 0;
    color: #333;
}

main section#orcamento form input {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #999;
    font-weight: 300;
    outline: none;
    border-collapse: none;
    /* border: none; */
    border: 1px solid #eabe32;
    border-radius: 5px;
}

main section#orcamento form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #999;
    font-weight: 300;
    outline: none;
    /* border: none; */
    border: 1px solid #eabe32;
    border-radius: 5px;
}

main section#orcamento form button {
    width: 100%;
    height: 55px;
    border-radius: 8px;
    /* border: 1px solid #333; */
    border: 1px solid #eabe32;
    background-color: #eabe32;
    font-size: 1.3rem;
    color: #333;
    opacity: 1;
    font-weight: 500;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #eabe32;
    color: #333;
    font-weight: normal;
    font-size: 1rem;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer p#redes-sociais {
    display: flex;
    justify-content: space-between;
    width: 45%;
    margin-top: 20px;
}

footer p#redes-sociais i {
    font-size: 1rem;
    font-weight: bold;
    /* margin-right: 30px; */
}

footer p {
    width: 100%;
    line-height: 1.3rem;
}

footer p em {
    font-style: normal;
    font-weight: 900;
}

footer p em span {
    font-weight: 100;
}

/* ***************** TABLETS ***************** */

@media screen and (min-width: 768px) {
    header img {
        width: 400px;
        margin-top: 20px;
    }
    
    /* NAV */
    #btn-menu {
        top: calc( 50% - (75px / 2));
        height: 75px;
        width: 75px;
    }
    #btn-menu i {
        font-size: 1.6rem;
    }
    #btn-menu span {
        font-size: 1rem;
    }

    nav {
        width: 50%;
    }
    nav label {
        font-size: 5rem;
    }
    nav div a {
        font-size: 5rem;
    }
    nav div a {
        font-size: 2.3rem;
    }

    main {
        padding: 50px 0px 20px;
        /* margin-top: 20px; */
    }
    main section#banner img {
        width: 70%;
    }
    main section#banner .btn-link, main section#grafiteiro .btn-link {
        margin-top: 40px;
        padding: 15px 40px;
        font-size: 1.5rem;
    }
    main section#grafiteiro {
        margin-top: 40px;
    }
    main section#grafiteiro h1 {
        font-size: 4rem;
        text-align: center;
        /* margin-top: 20px; */
    }
    main section#grafiteiro p {
        margin-top: 20px;
        width: 50%;
        font-size: 1.6rem;
        line-height: 2.2rem;
    }
    main section#grafiteiro article {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    main section#grafiteiro #grafiteirofaz h2 {
        display: flex;
        flex-direction: column;
        width: 30%;
        color: #808080;
        font-size: 2.8rem;
        line-height: 3.8rem;
        text-align: center;
    }
    main section#grafiteiro #grafiteirofaz p {
        width: 50%;
    }



    main section#galeria ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    main section#galeria ul li {
        width: 40%;
    }



    /* REALIZADOS */
    /* section#realizados, section#avaliacoes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } */
    section#realizados h3, section#avaliacoes h3, section#galeria h3 {
        font-size: 2.8rem;
        line-height: 3.8rem
    }
    /* TEXTOS INFORMATIVOS */
    section.informativo h2 {
        width: 50%;
        font-size: 2.8rem;
        line-height: 3.8rem;
    }
    section.informativo p {
        margin-top: 40px;
        font-size: 1.8rem;
        line-height: 2.6rem;
    }
    section.informativo h3 {
        width: 85%;
        margin-top: 20px;
        margin-left: 100px;
        font-size: 1.8rem;
    }
    section.informativo ul {
        margin-top: 40px;
        margin-left: 100px;
    }
    section.informativo ul li {
        font-size: 1.8rem;
        line-height: 2.6rem;
    }
    /* ORCAMENTO */
    main section#orcamento h2 {
        margin-top: 40px;
        font-size: 1.8rem;
    }
    main section#orcamento p {
        margin-top: 40px;
        font-size: 1.8rem;
    }
    main section#orcamento img {
        width: 75px;
        height: 75px;
        margin-top: 40px;
    }
    main section#orcamento figure {
        width: 75px;
        height: 75px;
        margin-top: 40px;
    }
    main section#orcamento i {
        font-size: 1.8rem;
    }
    main section#orcamento form h2 {
        margin-bottom: 40px;
    }
    main section#orcamento form input {
        width: 85%;
        height: 60px;
        margin-bottom: 40px;
        padding: 10px 20px;
        font-size: 1.6rem;
    }
    main section#orcamento form textarea {
        width: 85%;
        margin-bottom: 40px;
    }
    main section#orcamento form button {
        width: 85%;
        max-width: 290px;
        height: 60px;
        font-size: 1.6rem;
        margin-bottom: 40px;
        color: #fff;
    }
    /* FOOTER */
    footer {
        padding: 40px;
        font-size: 1.6rem;
    }
    footer p {
        line-height: 2.3rem;
    }
    footer p#redes-sociais {
        margin-top: 40px;
        width: 20%;
        max-width: 220px;
    }
    footer p#redes-sociais {
        width: 25%;
    }
    footer p#redes-sociais p {
        color: #000;
    }
    footer p#redes-sociais i {
        font-size: 1.8rem;
        color: #333;
    }
}

/* ***************** DESKTOPS ***************** */

/* @media screen and (min-width: 992px) {} */

@media screen and (min-width: 992px) {
    header {
        margin-top: 20px;
    }

    /* nav */
    nav {
        max-width: 280px;
    }
    nav label {
        font-size: 3rem;
    }
    nav div a {
        font-size: 1.5rem;
    }


    main {
        padding: 0;
        margin-top: 40px;
    }
    main section#banner {
        margin-top: 0px;
    }
    main section#banner img {
        width: auto;
        max-height: 600px;
    }
    /* main section#grafiteiro h1 {
        font-size: 4rem;
        margin-top: 20px;
    } */
    main section#grafiteiro p {
        margin-top: 20px;
        width: 50%;
        font-size: 1.8rem;
        line-height: 2.5rem;
    }
    main section#grafiteiro #grafiteirofaz {
        margin-top: 40px;
        height: 60vh;
    }
    main section#grafiteiro #grafiteirofaz h2 {
        width: 30%;
        font-size: 2.8rem;
        line-height: 3.8rem;
    }
    main section#grafiteiro #grafiteirofaz p {
        width: 50%;
        font-size: 1.8rem;
        line-height: 2.5rem;
    }
    article#artegrafite img {
        max-width: 1000px;
        /* margin-top: 40px; */
    }

/* ********************* GLERIA ********************* */

    main section#galeria ul li {
        width: 30%;
    }




    /* REALIZADOS */
    section#realizados h3, section#avaliacoes h3, section#galeria h3 {
        font-size: 2.8rem;
        line-height: 3.8rem
    }
    /* TEXTOS INFORMATIVOS */
    section.informativo h2 span {
        display: inline;
    }
    section.informativo p {
        width: 90%;
    }
    section.informativo h3 {
        margin-left: 200px;
    }
    section.informativo ul {
        margin-left: 200px;
    }
}

/* ***************** FULL HD ***************** */

@media screen and (min-width: 1920px) {
    div#container {
        max-width: 1920px;
        margin: 0 auto;
        /* border: 5px solid red; */
    }
}