@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@font-face {
    font-family: roboto-normal;
    src: url(../assets/fonts/Roboto/Roboto-Regular.ttf);
}

* {
    /* RESET */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'roboto-normal', sans-serif;
}

/* HEADER */

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 57px;
    padding: 10px 20px;
}

header h1 {
    font-family: 'Lobster', cursive;
}

header label #icone-menu {
    width: 20px;
}

header #abrir-menu {
    display: none;
}

header #abrir-menu:checked ~ nav {
    left: 0;
    opacity: .8;
}

header nav {
    position: absolute;
    top: 57px;
    left: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5px 0 15px;
    background-color: #e6e6e6;
    opacity: 0;
    transition: left .4s, opacity 1.2s;
}

header nav a {
    text-decoration: none;
    color: black;
    width: 90%;
    border-bottom: 1px dashed black;
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
}

/************************ MAIN ************************/

main {
    padding: 0 8px;
    /* margin-top: 20px; */
}

/* BANNER */

main section#banner h2 {
    display: none;
}

main section#banner figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

main section#banner figure img {
    width: 100%;
    /* border-radius: 10px; */
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .6);
}

/* COMO CONTRATAR */

main section#como-contratar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 60vh;
    margin-top: 20px;
    /* background-color: cyan; */
}

main section#como-contratar article {
    width: 100%;
    height: 150px;
    padding: 15px 15px;
    background-color: #e9e9e9;
    /* border-radius: 10px; */
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .6);
}

main section#como-contratar article h2 {
    font-size: 1rem;
}

main section#como-contratar article p {
    font-size: 0.9rem;
    margin-top: 25px;
}

main section#como-contratar iframe {
    width: 100%;
    height: 175px;
    margin-top: 20px;
    /* border-radius: 10px; */
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .6);
}

/* DÚVIDAS CONTATO */

main article#duvidas {
    position: fixed;
    bottom: 5px;
    right: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
    /* border: 1px solid black; */
}

main article#duvidas img {
    width: 30px;
    height: 30px;
}

main article#duvidas figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid cyan;
}




main section#trabalhos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}


main article#duvidas i {
    font-size: 0.9rem;
    color: cyan;
}