* {
    /* RESET */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #999999;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
}

#topo {
    position: fixed;
    left: 10px;
    bottom: 10px;
    color: #333;
    font-size: 2rem;
    transform: rotate(90deg);
}

#go-top {
    opacity: 0;
    transition: opacity .6s;
}

/*************** MOBILE ***************/

/* HEADER */

#link-ligue {
    /* margin-left: 50px; */
    font-size: 1rem;
    text-decoration: none;
    color: #333;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 0;
}

/* LOGOTIPO */

header img {
    width: 180px;
    margin-top: 5px;
    font-family: sans-serif;
}

header label i {
    font-size: 1.5rem;
    color: #666666;
}

header #abrir-menu {
    display: none;
}

header #abrir-menu:checked~nav {
    left: 0;
    opacity: 1;
}

header nav {
    position: fixed;
    top: 0;
    left: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 25px 0 15px;
    background-color: cyan;
    opacity: 0;
    z-index: 1;
    transition: left .4s, opacity 0.8s;
}

header nav div {
    display: flex;
    justify-content: flex-end;
    width: 80%;
}

header nav div i {
    color: #333;
    font-size: 2rem;
    opacity: 0;
    transform: rotate(45deg);
    transition: opacity 0.8s, transform .8s;
}

header #abrir-menu:checked~nav>div label i {
    opacity: 1;
    transform: rotate(-45deg);
}

header nav a {
    text-decoration: none;
    color: #333;
    width: 90%;
    border-bottom: 2px dashed #333;
    padding: 25px;
    font-size: 1.8rem;
    text-align: center;
}

/************************ MAIN ************************/

main {
    padding: 20px 0px;
    /* margin-top: 20px; */
}

/* BANNER */

main section#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section#banner img {
    width: 90%;
}

main section#banner .btn-link, main section#grafiteiro .btn-link {
    display: inline-block;
    /* width: 100%; */
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    background-color: #eabe32;
    color: #fff;
    border-radius: 8px;
}

/* GRAFITEIRO */

main section#grafiteiro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

main section#grafiteiro h1 {
    font-size: 2rem;
    text-align: center;
}

main section#grafiteiro p {
    width: 85%;
    margin-top: 10px;
    padding: 0 10px;
    text-align: center;
    font-size: 1rem;
    line-height: 1.2rem;
}

main section#grafiteiro p span {
    display: block;
    color: #eabe32;
}

/* GRAFITEIRO FAZ */

main section#grafiteiro #grafiteirofaz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
    margin-top: 20px;
    background-color: #eabe32;
}

main section#grafiteiro #grafiteirofaz h2 {
    display: flex;
    flex-direction: column;
    color: #808080;
    font-size: 1.3rem;
    line-height: 30px;
    text-align: center;
}

main section#grafiteiro #grafiteirofaz h2 span {
    color: #fff;
}

main section#grafiteiro #grafiteirofaz p {
    width: 85%;
    margin-top: 20px;
    color: #fff;
}

article#artegrafite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

article#artegrafite img {
    width: 80%;
}

/* TRABALHOS REALIZADOS */

section#realizados, section#avaliacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#realizados h3, section#avaliacoes h3 {
    text-align: center;
    margin-top: 40px;
    font-size: 1.8rem;
}

section#realizados h3 span, section#avaliacoes h3 span {
    display: block;
    color: #eabe32;
}

/* TEXTOS INFORMATIVOS */

section.informativo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

section.informativo h2 {
    font-size: 1.8rem;
}

section.informativo span {
    color: #eabe32;
    display: block;
}

section.informativo p {
    width: 85%;
    margin-top: 20px;
    font-size: 1rem;
    line-height: 1.5rem;
}

section.informativo h3 {
    align-self: flex-start;
    width: 60%;
    margin-top: 20px;
    margin-left: 35px;
    font-size: 1rem;
    font-weight: normal;
    text-align: left;
    text-transform: none;
    /* border: 1px solid red; */
}

section.informativo ul {
    align-self: flex-start;
    margin-top: 20px;
    margin-left: 35px;
    /* border: 1px solid red; */
}

section.informativo ul li {
    width: 85%;
    margin-left: 35px;
    font-size: 1rem;
    line-height: 1.5rem;
}

/* ***********ORÇAMENTO*************** */

main section#orcamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

main section#orcamento h2 {
    font-size: 1rem;
    text-transform: none !important;
}

main section#orcamento p {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 0.9rem;
    width: 50%;
}

main section#orcamento img {
    width: 45px;
    height: 45px;
    margin-top: 20px;
}

main section#orcamento figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top: 20px;
    border: 2px solid #eabe32;
}

main section#orcamento i {
    font-size: 0.9rem;
    color: #eabe32;
}

main section#orcamento form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 15px;
    margin-top: 20px;
    /* background-color: #eabe32; */
    border-radius: 8px;
}

main section#orcamento form h2 {
    margin: 20px 0;
    color: #333;
}

main section#orcamento form input {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #999;
    font-weight: 300;
    outline: none;
    /* border: none; */
    border: 1px solid #eabe32;
    border-radius: 5px;
}

main section#orcamento form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #999;
    font-weight: 300;
    outline: none;
    /* border: none; */
    border: 1px solid #eabe32;
    border-radius: 5px;
}

main section#orcamento form button {
    width: 100%;
    height: 55px;
    border-radius: 8px;
    /* border: 1px solid #333; */
    border: 1px solid #eabe32;
    background-color: #eabe32;
    font-size: 1.3rem;
    color: #333;
    opacity: 1;
    font-weight: 500;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #eabe32;
    color: #333;
    font-weight: normal;
    font-size: 1rem;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer p#redes-sociais {
    display: flex;
    justify-content: space-between;
    width: 45%;
    margin-top: 20px;
}

footer p#redes-sociais i {
    font-size: 1rem;
    font-weight: bold;
    /* margin-right: 30px; */
}

footer p {
    width: 100%;
    line-height: 1.3rem;
}

footer p em {
    font-style: normal;
    font-weight: 900;
}

footer p em span {
    font-weight: 100;
}

/* ***************** TABLETS ***************** */

@media screen and (min-width: 768px) {
    header img {
        width: 400px;
        margin-top: 20px;
    }
    main {
        padding: 50px 0px 20px;
        /* margin-top: 20px; */
    }
    main section#banner img {
        width: 70%;
    }
    main section#banner .btn-link, main section#grafiteiro .btn-link {
        margin-top: 40px;
        padding: 15px 40px;
        font-size: 1.5rem;
    }
    main section#grafiteiro {
        margin-top: 40px;
    }
    main section#grafiteiro h1 {
        font-size: 4rem;
        text-align: center;
        /* margin-top: 20px; */
    }
    main section#grafiteiro p {
        margin-top: 20px;
        width: 50%;
        font-size: 1.6rem;
        line-height: 2.2rem;
    }
    main section#grafiteiro article {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    main section#grafiteiro #grafiteirofaz h2 {
        display: flex;
        flex-direction: column;
        width: 30%;
        color: #808080;
        font-size: 2.8rem;
        line-height: 3.8rem;
        text-align: center;
    }
    main section#grafiteiro #grafiteirofaz p {
        width: 50%;
    }
    /* REALIZADOS */
    /* section#realizados, section#avaliacoes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } */
    section#realizados h3, section#avaliacoes h3 {
        font-size: 2.8rem;
        line-height: 3.8rem
    }
    /* TEXTOS INFORMATIVOS */
    section.informativo h2 {
        width: 60%;
        font-size: 2.8rem;
        line-height: 3.8rem;
    }
    section.informativo p {
        margin-top: 40px;
        font-size: 1.8rem;
        line-height: 2.6rem;
    }
    section.informativo h3 {
        width: 85%;
        margin-top: 20px;
        margin-left: 100px;
        font-size: 1.8rem;
    }
    section.informativo ul {
        margin-top: 40px;
        margin-left: 100px;
    }
    section.informativo ul li {
        font-size: 1.8rem;
        line-height: 2.6rem;
    }
    /* ORCAMENTO */
    main section#orcamento h2 {
        margin-top: 40px;
        font-size: 1.8rem;
    }
    main section#orcamento p {
        margin-top: 40px;
        font-size: 1.8rem;
    }
    main section#orcamento img {
        width: 75px;
        height: 75px;
        margin-top: 40px;
    }
    main section#orcamento figure {
        width: 75px;
        height: 75px;
        margin-top: 40px;
    }
    main section#orcamento i {
        font-size: 1.8rem;
    }
    main section#orcamento form h2 {
        margin-bottom: 40px;
    }
    main section#orcamento form input {
        width: 85%;
        height: 60px;
        margin-bottom: 40px;
        padding: 10px 20px;
        font-size: 1.6rem;
    }
    main section#orcamento form textarea {
        width: 85%;
        margin-bottom: 40px;
    }
    
    main section#orcamento form button {
        width: 85%;
        height: 60px;
        font-size: 1.6rem;
        margin-bottom: 40px;
    }

    /* FOOTER */

    footer {
        padding: 40px;
        font-size: 1.6rem;
    }

    footer p {
        line-height: 2.3rem;
    }
    footer p#redes-sociais {
        margin-top: 40px;
        width: 20%;
        max-width: 220px;
    }
    footer p#redes-sociais {
        width: 25%;
    }
    footer p#redes-sociais p {
        color: #000;
    }
    footer p#redes-sociais i {
        font-size: 1.8rem;
        color: #333 ;
    }
}

/* ***************** DESKTOPS ***************** */

/* @media screen and (min-width: 992px) {} */

@media screen and (min-width: 992px) {
    header {
        margin-top: 20px;
    }
    main {
        padding: 0;
        margin-top: 40px;
    }
    main section#banner {
        margin-top: 0px;
    }
    main section#banner img {
        width: auto;
        max-height: 600px;
    }
    /* main section#grafiteiro h1 {
        font-size: 4rem;
        margin-top: 20px;
    } */
    main section#grafiteiro p {
        margin-top: 20px;
        width: 50%;
        font-size: 1.8rem;
        line-height: 2.5rem;
    }
    main section#grafiteiro #grafiteirofaz {
        margin-top: 40px;
        height: 60vh;
    }
    main section#grafiteiro #grafiteirofaz h2 {
        width: 30%;
        font-size: 2.8rem;
        line-height: 3.8rem;
    }
    main section#grafiteiro #grafiteirofaz p {
        width: 50%;
        font-size: 1.8rem;
        line-height: 2.5rem;
    }
    article#artegrafite img {
        max-width: 1000px;
        /* margin-top: 40px; */
    }
    /* REALIZADOS */
    section#realizados h3, section#avaliacoes h3 {
        font-size: 2.8rem;
        line-height: 3.8rem
    }
    /* TEXTOS INFORMATIVOS */
    section.informativo h2 span {
        display: inline;
    }
    section.informativo p {
        width: 90%;
    }
    section.informativo h3 {
        margin-left: 200px;
    }
    section.informativo ul {
        margin-left: 200px;
    }
}

/* ***************** FULL HD ***************** */

@media screen and (min-width: 1440px) {}